@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
    font-family: 'Work Sans';
    font-weight: 300;
    font-stretch: normal;
    font-display: swap;
    src: url('/fonts/work-sans-v16-latin-300.woff2') format('woff2');
}

@font-face{
    font-family: 'Work Sans';
    font-weight: 400;
    font-stretch: normal;
    font-display: swap;
    src: url('/fonts/work-sans-v16-latin-regular.woff2') format('woff2');
}

@font-face{
    font-family: 'Work Sans';
    font-weight: 500;
    font-stretch: normal;
    font-display: swap;
    src: url('/fonts/work-sans-v16-latin-500.woff2') format('woff2');
}

@font-face{
    font-family: 'Work Sans';
    font-weight: 600;
    font-stretch: normal;
    font-display: swap;
    src: url('/fonts/work-sans-v16-latin-600.woff2') format('woff2');
}

@font-face{
    font-family: 'Work Sans';
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
    src: url('/fonts/work-sans-v16-latin-700.woff2') format('woff2');
}

@font-face{
    font-family: 'Work Sans';
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
    src: url('/fonts/work-sans-v16-latin-900.woff2') format('woff2');
}

body {
    height: 100dvh;
}

:root {
  font-family: Work Sans, Inter, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --image-size: 30px;
    overflow: hidden;
}

@media (orientation: landscape) {
    .portrait-overlay {
        pointer-events:none;
    }
}

.game-wrapper {
    background: url('/img/background.jpg') no-repeat center;
    background-size: cover;
    @media (orientation: portrait) {
        background: url('/img/background-mobile.jpg') no-repeat center;
        background-size: cover;
    }
}

#current-score span {
    font-variant-numeric: tabular-nums;
}

/* The UP animation */
.animated-el {
    display: block;
    position: absolute;
    opacity: 1;
    color: var(--color-background);
}

/** When the button is off */
.sound-off {
    opacity: .5;
}

/* the red circle near the clicked point */
.click-animation {
    font-size: 2rem;
}

/* the gift */
.gravity-animation img {
    width: var(--image-size);
    height: var(--image-size);
    object-fit: cover;
}

.flyng-gift {
    width: 52px;
    height: 52px;
}

/* the powerbar on the left side */
#powerbar,
#powerbar-shadow {
    height: 500px;
    max-height: calc(100vh - 400px);
    width: 30px;
    background: url('/img/powerbar.svg') no-repeat bottom center;
    background-size: cover;
}

@media (orientation: portrait) {
    #powerbar,
    #powerbar-shadow {
        height: 320px;
        width: 20px;
    }
}
